<main>
  <!-- HERO -->
  <section class="py-10 px-6" id="hero">
    <!-- Cuộn lên đầu -->
    
    <oh-back-top></oh-back-top>
    <div class="d-xl-flex d-xs-none">
      <!-- Cột text -->
      <div class="ui-col-xl-11 ui-col-xs-24 ui-col-xxl-12 pl-xl-6" data-aos="fade-right">
        <a class="d-inline-block" href="/">
          <img src="/assets/img/logo.png" alt="DRCARE 247" style="height: 50%" class="ms-4 pb-4" />
        </a>
        <h1 class="font-size-xl-11 font-size-xs-6">
          “Theo dõi thông minh, sống khoẻ mỗi khoảnh khắc”
        </h1>
        <p class="text-gray m-0 font-size-xl-4">
          Sức khỏe không chỉ là con số – đó là hành trình.
        </p>
        <p class="text-gray font-size-xl-4">
          DRCARE247 giúp bạn và người thân hiểu rõ hơn về cơ thể, chủ động hơn trong việc điều trị, phòng ngừa và
          sống
          khoẻ mỗi ngày. Với mạng lưới kết nối hàng trăm bác sĩ, bệnh viện và phòng khám uy tín trên toàn quốc,
          chúng
          tôi mang đến sự hỗ trợ kịp thời, đáng tin cậy.
        </p>
        <div class="mt-4">
          <h6 class="text-uppercase mb-3 font-size-xl-4 font-size-xs-10 text-gray">Tải app ngay</h6>
          <div class="d-flex hero-app">
            <!-- Google Play -->
            <div class="">
              <img src="/assets/img/qr.png" alt="QR Google Play" class="qr-banner pr-1" />
              <a href="#" class="ms-1">
                <img src="/assets/img/googleplay.png" alt="Google Play" class="app-mobile" />
              </a>
            </div>

            <!-- App Store -->
            <div class="">
              <img src="/assets/img/qr.png" alt="QR App Store" class="qr-banner pr-1" />
              <a href="#" class="ms-1">
                <img src="/assets/img/appstore.png" alt="App Store" class="app-mobile" />
              </a>
            </div>
          </div>
        </div>

      </div>

      <!-- Cột hình ảnh -->
      <div class="ui-col-xl-13 ui-col-xs-24 ui-col-xxl-12 pl-xl-9 d-xl-flex al-center jf-center " data-aos="fade-left">
        <div class="position-relative d-inline-block">
          <img src="/assets/img/hero-mockup.png" alt="Ứng dụng DRCARE 247" class="large_img" />
          <img src="/assets/img/small_hero-mockup.png" alt="Logo nhỏ"class="small_img position-absolute translate-middle" />
          <!-- <img src="/assets/img/vector-home-right.png" alt="" class="position-absolute vector"> -->
          <img src="/assets/img/up_hero-mockup.png" alt="" class="up_image" />
          <img src="/assets/img/shadow_banner.png" alt="" class="shadow_up" />
          <img src="/assets/img/feature1.png" alt="" class="icon_blue">
          <img src="/assets/img/icon_banner1.png" alt="" class="icon_green">
        </div>
      </div>
    </div>
  </section>

  <!-- FEATURES -->
  <section id="features" class="py-5 px-8 bg-white ">
    <div class="mb-5 ">
      <div class="text-center">
        <h2 class="font-size-xl-11 font-size-xs-9 text-dark mb-2">Chăm sóc sức khỏe toàn diện</h2>
        <p class="font-size-xl-3 font-size-xs-5 mb-5 text-gray">
          Trải nghiệm khám chữa bệnh thông minh – mọi lúc, mọi nơi.
          Đồng hành cùng bạn trong suốt hành trình chăm sóc sức khỏe!
        </p>
      </div>
      <div class="d-xl-flex d-xs-none d-sm-none">
        <!-- Left features -->
        <div class="ui-col-xl-6 ui-col-xs-24 ">
          <div class="feature-service mb-4 p-3" data-aos="fade-right">
            <div>
              <img src="/assets/img/feature1.png" class="mb-1" alt="Đặt lịch khám" />
              <h6 class="font-size-6 mb-1">Đặt lịch khám</h6>
              <p class="text-muted small mb-0 text-gray">
                Tìm và đặt lịch khám nhanh chóng tại bệnh viện, phòng khám uy tín gần bạn.
              </p>
            </div>
          </div>

          <div class="feature-service mb-4 p-3" data-aos="fade-right" data-aos-delay="100">
            <div>
              <img src="/assets/img/feature2.png" class="mb-1" alt="Tư vấn khám bệnh" />
              <h6 class="font-size-6 mb-1">Tư vấn khám bệnh từ xa</h6>
              <p class="text-muted small mb-0 text-gray">
                Gặp bác sĩ mọi lúc, mọi nơi qua video call hoặc chat – tiện lợi, không lo chờ đợi.
              </p>
            </div>
          </div>

          <div class="feature-service mb-4 p-3" data-aos="fade-right" data-aos-delay="200">
            <div>
              <img src="/assets/img/feature3.png" class="mb-1" alt="Quản lý lịch hẹn" />
              <h6 class="font-size-6 mb-1">Quản lý lịch hẹn</h6>
              <p class="text-muted small mb-0 text-gray">
                Tự động nhắc lịch hẹn, tái khám
              </p>
            </div>
          </div>
        </div>

        <!-- Center phone image -->
        <div class="ui-col-xl-12 ui-col-xs-24 d-xl-flex al-center jf-center" data-aos="zoom-in">
          <img src="/assets/img/phone.png" class="feature-phone" alt="App chăm sóc sức khỏe" />
        </div>

        <!-- Right features -->
        <div class="ui-col-xl-6 ui-col-xs-24 pl-4">
          <div class="feature-service mb-4 p-3" data-aos="fade-left">
            <div>
              <img src="/assets/img/feature4.png" class="mb-1" alt="Hồ sơ sức khỏe" />
              <h6 class="font-size-6 mb-1">Hồ sơ sức khỏe điện tử</h6>
              <p class="text-muted small mb-0 text-gray">
                Theo dõi lịch sử khám, đơn thuốc, xét nghiệm – mọi thứ được lưu trữ an toàn.
              </p>
            </div>
          </div>

          <div class="feature-service mb-4 p-3" data-aos="fade-left" data-aos-delay="100">
            <div>
              <img src="/assets/img/feature5.png" class="mb-1" alt="Tích hợp IMT" />
              <h6 class="font-size-6 mb-1">Tích hợp IoMT</h6>
              <p class="text-muted small mb-0 text-gray">
                Kết nối thiết bị đo huyết áp, đường huyết, nhịp tim... theo dõi liên tục.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Experience Section -->
    <div class=" mt-5">
      <h4 class="font-size-xl-11 font-size-xs-8 mt-10 text-center">
        Mang đến trải nghiệm thuận tiện cho bạn và gia đình
      </h4>

      <div class="features-grid">
        <!-- 01 -->
        <div class="feature-box">
          <div class="feature-content">
            <h1 class="number-bg">01</h1>
            <p class="feature-text">Tiết kiệm thời gian và chi phí đi lại.</p>
          </div>
          <div class="feature-image">
            <img src="/assets/img/frame1.png" alt="Tiết kiệm thời gian" />
          </div>
        </div>

        <!-- 02 -->
        <div class="feature-box">
          <div class="feature-content">
            <h1 class="number-bg">02</h1>
            <p class="feature-text">Kết nối nhanh chóng với đội ngũ bác sĩ chuyên khoa uy tín.</p>
          </div>
          <div class="feature-image">
            <img src="/assets/img/frame2.png" alt="Tiết kiệm thời gian" />
          </div>
        </div>

        <!-- 03 -->
        <div class="feature-box">
          <div class="feature-content">
            <h1 class="number-bg">03</h1>
            <p class="feature-text">Quản lý sức khỏe chủ động, an toàn, bảo mật cao.</p>
          </div>
          <div class="feature-image">
            <img src="/assets/img/frame3.png" alt="Tiết kiệm thời gian" />
          </div>
        </div>

        <!-- 04 -->
        <div class="feature-box">
          <div class="feature-content">
            <h1 class="number-bg">04</h1>
            <p class="feature-text">Theo dõi sức khỏe cá nhân một cách toàn diện và liên tục.</p>
          </div>
          <div class="feature-image">
            <img src="/assets/img/frame4.png" alt="Tiết kiệm thời gian" />
          </div>
        </div>
      </div>
      <div class="mt-5 text-center">
        <a href="#" class="px-4 py-2 btn-experience">
          Trải nghiệm App ngay
        </a>
      </div>
    </div>
  </section>


  <!-- STATS -->
  <section class="bg-gradient-stat position-relative" id="">
    <img src="/assets/img/stat-right-top1.png" alt="" class="position-absolute">
    <img src="/assets/img/stat-right-top2.png" alt="" class="position-absolute">
    <img src="/assets/img/stat-left-bottom.png" alt="" class="bg-stat-bottom position-absolute">
    <div class="pt-2 pb-0 px-8">
      <div class="d-xl-flex d-xs-none">
        <!-- Left content -->
        <div class="ui-col-xl-12 ui-col-xs-24 text-white position-relative" data-aos="fade-right">
          <h3 class="mb-5 mt-5 font-size-xl-10 text-white text-center">Những con số nổi bật</h3>
          <div class="pt-7">
            <img src="/assets/img/doctor_stat1.png" alt="Bác sĩ" class="doctor_stat1">
            <img src="/assets/img/doctor_stat2.png" alt="Bác sĩ" class="doctor_stat2">
          </div>
        </div>
        <div #statSection class="ui-col-xl-12 ui-col-xs-24 d-xl-flex d-xs-none pr-5 pt-5 stat-main-info">
          <div class="ui-col-xl-12 ui-col-xs-24 ">
            <div class="p-4 m-3 bg-white stat-infor position-relative">
              <div class="mb-2">
                <img src="/assets/img/icon_stat1.png" alt="Icon" />
              </div>
              <h4 #counter1 class="mb-1 font-size-xl-9 font-size-xs-6">100+</h4>
              <p class="small mb-0 text-gray">Cơ sở y tế đối tác</p>
              <img src="/assets/img/img_stat-infor.png" alt="" class="position-absolute img_stat-infor-1">
            </div>

            <div class="p-4 m-3 bg-white stat-infor position-relative">
              <div class="mb-2">
                <img src="/assets/img/icon_stat3.png" alt="Icon" />
              </div>
              <h4 #counter2 class="mb-1 font-size-xl-9 font-size-xs-6">500.000+</h4>
              <p class="small text-gray mb-0">Lượt tải App trên Android và IOS</p>
              <img src="/assets/img/img_stat-infor.png" alt="" class="position-absolute img_stat-infor-1">
            </div>
          </div>

          <div class="ui-col-xl-12 ui-col-xs-24">
            <div class="p-4 m-3 bg-white stat-infor position-relative">
              <div class="mb-2">
                <img src="/assets/img/icon_stat2.png" alt="Icon" />
              </div>
              <h4 #counter3 class="mb-1 font-size-xl-9 font-size-xs-6">50+</h4>
              <p class="small text-gray mb-0">Bác sĩ chuyên khoa</p>
              <img src="/assets/img/img_stat-infor.png" alt="" class="position-absolute img_stat-infor-1">
            </div>

            <div class="p-4 m-3 bg-white stat-infor position-relative">
              <div class="mb-2">
                <img src="/assets/img/icon_stat4.png" alt="Icon" />
              </div>
              <h4 #counter4 class="mb-1 font-size-xl-9 font-size-xs-6">50.000+</h4>
              <p class="small text-gray mb-0">Lượt đặt lịch khám hàng tháng</p>
              <img src="/assets/img/img_stat-infor.png" alt="" class="position-absolute img_stat-infor-1">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Right stats boxes -->
  </section>

  <!-- NETWORK -->
  <div class="network-container">
    <h2 class="font-size-11">Mạng lưới y tế liên kết</h2>
    <div class="tabs">
      <button (click)="toggleSection('hospital')" [class.active]="activeSection==='hospital'">Bệnh viện</button>
      <button (click)="toggleSection('doctor')" [class.active]="activeSection==='doctor'">Bác sĩ</button>
    </div>


    <!-- Carousel cho Bệnh viện -->
    <div class="carousel" *ngIf="activeSection==='hospital'">
      <div class="carousel-inner" [style.transform]="'translateX(-' + currentHospitalSlide * 100 + '%)'">
        <div class="carousel-item " *ngFor="let slide of hospitalSlides">
          <div class="card" *ngFor="let hospital of slide">
            <img [src]="hospital.image" alt="{{hospital.name}}" class="card-hospital"/>
            <img [src]="hospital.logo" class="img-logo-hospital">
            <h3 class="connect font-size-5 pt-3 mb-0">{{hospital.name}}</h3>
            <p class="text-gray connect font-size-3 my-1">{{hospital.address}}</p>
          </div>
        </div>
      </div>
      <div class="controls">
        <div class="indicators">
          <span *ngFor="let s of hospitalSlides; let i = index" [class.active]="i === currentHospitalSlide"
            (click)="goToSlide('hospital', i)"></span>
        </div>
      </div>
    </div>


    <!-- Carousel cho Bác sĩ -->
    <div class="carousel" *ngIf="activeSection==='doctor'">
      <div class="carousel-inner" [style.transform]="'translateX(-' + currentDoctorSlide * 100 + '%)'">
        <div class="carousel-item" *ngFor="let slide of doctorSlides">
          <div class="card" *ngFor="let doctor of slide">
            <img [src]="doctor.image" alt="{{doctor.name}}" class="card-doctor"/>
            <h3 class="connect font-size-5 pt-3 mb-0">{{doctor.name}}</h3>
            <p class="text-gray connect font-size-3 my-1">Chuyên khoa: {{doctor.specialty}}</p>

            <div class="mt-2">
              <p *ngFor="let exp of doctor.experience" class="connect font-size-3 card-experience">
              <img src="/assets/img/checkbox-experience.png" alt="" class="mr-2 pb-1">{{exp}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="controls">
        <div class="indicators">
          <span *ngFor="let s of doctorSlides; let i = index"
                [class.active]="i === currentDoctorSlide"
                (click)="goToSlide('doctor', i)"></span>
        </div>
      </div>
    </div>



    <!-- Carousel cho Chuyên khoa -->
    <div class="section-title">
      <h2 class="font-size-11">Chuyên khoa, chăm sóc sức khỏe y tế</h2>
    </div>
    <div class="carousel">
      <div class="carousel-inner" [style.transform]="'translateX(-' + currentHealthcareSlide * 100 + '%)'">
        <div class="carousel-item" *ngFor="let slide of healthcareSlides">
          <div class="card" *ngFor="let item of slide">
            <img class="img-health" [src]="item.image" alt="{{item.name}}" />
            <h3 class="font-size-5 mb-0">{{item.name}}</h3>
            <p class="text-gray font-size-3 mt-1 px-7">{{item.room}}</p>
          </div>
        </div>
      </div>
      <div class="controls">
        <div class="indicators">
          <span *ngFor="let s of healthcareSlides; let i = index" [class.active]="i === currentHealthcareSlide"
            (click)="goToSlide('healthcare', i)"></span>
        </div>
      </div>
    </div>
  </div>

  <!-- FEEDBACK -->
  <section id="feedback" class="feedback-section position-relative">
  <div class="feedback-container">
    <!-- Thành phần background -->
     <img src="/assets/img/ellipse.png" alt="" class="position-absolute ellipse">
     <img src="/assets/img/ellipse-bottom-right1.png" alt="" class="position-absolute ellipse-bottom-right">
     <img src="/assets/img/ellipse-bottom-right2.png" alt="" class="position-absolute ellipse-bottom-right">
     <img src="/assets/img/isolation.png" alt="" class="position-absolute isolation">
     <img src="/assets/img/ellipse.png" alt="" class="position-absolute ellipse-left">
    <!-- PHẦN VĂN BẢN -->
    <div class="feedback-text">
      <h2 class="text-white font-weight-bold">
        Cảm nhận từ khách hàng
      </h2>
      <p class="">
        Trong hành trình cố gắng không ngừng nghỉ với sứ mệnh đem đến những dịch vụ và trải nghiệm chất lượng,
        điều hạnh phúc nhất chính là những phản hồi tích cực.
      </p>
    </div>

    <!-- HAI SLIDER CHẠY SONG SONG -->
    <div class="feedback-sliders">
      <!-- SLIDER TRÁI -->
      <div class="feedback-slider left">
        <div class="feedback-list scroll-up">
          <div class="feedback-card" *ngFor="let fb of feedbackList">
            <p class="font-size-6 font-weight-bold mb-1">Phản hồi tích cực</p>
            <p class="feedback-content">{{ fb.content }}</p>
            <div class="author-box">
              <img [src]="fb.avatar" alt="avatar" class="avatar" />
              <div class="author-info">
                <p class="author-name">{{ fb.name }}</p>
                <p class="author-desc">{{ fb.desc }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- SLIDER PHẢI -->
      <div class="feedback-slider right">
        <div class="feedback-list scroll-down">
          <div class="feedback-card" *ngFor="let fb of feedbackList">
            <p class="font-size-6 font-weight-bold mb-1">Phản hồi tích cực</p>
            <p class="feedback-content">{{ fb.content }}</p>
            <div class="author-box">
              <img [src]="fb.avatar" alt="avatar" class="avatar" />
              <div class="author-info">
                <p class="author-name">{{ fb.name }}</p>
                <p class="author-desc">{{ fb.desc }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




  <!-- VIDEO -->
  <div class="video-container d-flex">
    <div class="py-4 text-center" data-aos="fade-down">
      <h1 class="fw-bold text-dark pt-5 text-center">
        Video hướng dẫn, <br> giới thiệu ứng dụng, nền tảng
      </h1>

      <div class="image-wrapper position-relative mx-auto mt-4" data-aos="fade-up">
        <img src="/assets/img/phone_video.png" alt="Ảnh Màn hình Điện thoại" class="phone-video" />

        <img src="/assets/img/pause_video.png" class="pause-video position-absolute" alt="Pause icon">
      </div>
    </div>
  </div>

  <!-- BANNER NEWS -->
  <!-- SECTION 1: KIẾN THỨC SỨC KHỎE -->
  <section class="bg-light">
    <div class="p-10">
      <!-- Tabs -->
      <div class="d-flex banner-tap mb-3">
        <div class="d-flex banner-map p-3">
          <div class="">
            <a class="active" routerLink="/health">Kiến thức sức khỏe</a>
          </div>
        </div>
        <div>
          <a routerLink="/health" class="text-primary fw-semibold">Xem thêm tin tức &rarr;</a>
        </div>
      </div>
      <!-- SLIDE -->
      <oh-carousel ohAutoPlay *ngIf="slides.length">
        @for (slide of slides; track slide.id) {
          <div oh-carousel-content>
            <div class="news-slide d-flex">
              <div class="slide-right ui-col-xl-12">
                <img [src]="slide.thumbnail" [alt]="slide.title" draggable="false"/>
              </div>
              <div class="slide-left ui-col-xl-12">
                <h2 class="title">{{ slide.title }}</h2>
                <p class="description">
                  {{ slide.description | slice:0:100  }}...
                </p>
                <button class="read-more"
                        (click)="goToDetail(slide.id)">
                  Đọc chi tiết &rarr;
                </button>
              </div>
            </div>
          </div>
        }
      </oh-carousel>
      <!-- NEWS-CHILD -->
      <section class="news-container">
          @for (item of articles; track item.id) {
            <div (click)="goToDetail(item.id)" class="news-card p-2">
              <div class="news-image">
                <img [src]="item.thumbnail" [alt]="item.title" />
              </div>
              <div class="news-body">
                <h6 class="text-gray">{{ item.categoryName }}</h6>
                <p class="title">{{ item.title }}</p>
                <p class="descrip">{{ item.description | slice:0:80 }}...</p>
              </div>
            </div>
          }
      </section>
    </div>
  </section>

  <!-- CONTACT-->
<section class="contact-section">
  <!-- Ảnh bên trái -->
  <div class="contact-image left">
    <img src="/assets/img/banner_contact-left.png" alt="Left Image">
  </div>
  <div class="contact-container p-6">
    <h3 class="font-size-10">LIÊN HỆ HỢP TÁC</h3>
    <p class="text-white">Bệnh viện, cơ sở y tế mong muốn hợp tác thông qua ứng dụng DrCare247</p>

    <form class="contact-form">
      <div class="input-row">
        <div><span oh-icon ohType="user" ohTheme="outline"></span><input type="text" placeholder="Họ và tên" class="ml-2"></div>
        <div><span oh-icon ohType="mail" ohTheme="outline"></span><input type="text" placeholder="Email@email.com" class="ml-2"></div>
        <div><span oh-icon ohType="phone" ohTheme="outline"></span><input type="text" placeholder="Số điện thoại" class="ml-2"></div>
      </div>
      <button type="submit">Liên hệ ngay &rarr;</button>
    </form>
  </div>
  <div class="contact-image right">
    <img src="/assets/img/banner_contact-right.png" alt="Right Image">
  </div>
</section>



</main>