<!-- <iframe src="https://storage-emr.vnpt.vn/demo/onehealthui-v2/index.html"></iframe> -->


<h1>
    Tesstttt
</h1>

<header class="header">
    <div class="container navbar">
        <div class="logo">
            <img src="logo.png" alt="DRCARE 247 Logo">
        </div>
        <nav class="nav-menu">
            <ul>
                <li><a href="#">Về chúng tôi</a></li>
                <li><a href="#">Tiện ích sức khỏe</a></li>
                <li><a href="#">Liên hệ hợp tác</a></li>
                <li><a href="#">Chuyên khoa cho cả gia đình</a></li>
            </ul>
        </nav>
        <div class="contact-info">
            <span><i class="icon-phone"></i> 0234.555.5588</span>
        </div>
    </div>
</header>
