<header class="app-header">
  <!-- Logo -->
  <div class="header-left">
    <!-- <img src="/assets/img/logo.png" alt="Logo" class="logo ui-col-xl-12" /> -->
    <img src="" alt="Logo" class="logo ui-col-xl-12" />
    <!-- Search box -->
    <div class="search-box ui-col-xl-12">
      <span oh-icon ohType="search" ohTheme="outline" class="search-icon"></span>
      <input type="text" placeholder="Search" />
    </div>
  </div>

  <!-- Right Icons -->
  <div class="header-right">
    <button class="icon-btn">
      <span oh-icon ohType="bell" ohTheme="outline"></span>
    </button>

    <button class="icon-btn">
      <span oh-icon ohType="setting" ohTheme="outline"></span>
    </button>

    <!-- Account -->
    <div class="account">
      <img src="assets/avatar-default.png" alt="User" class="avatar" />
      <span class="username">Thắng</span>
    </div>
  </div>
</header>
