<footer class="bg-primary-dark position-relative overflow-hidden">
  <div class="footer-overlay"></div>
  <div class="p-10 position-relative text-white">
    <div class="d-xl-flex d-xs-none">
      <div class="ui-col-xl-7 mb-4 mb-lg-0">
        <div class="mb-4">
          <img src="/assets/img/logo_footer.png" alt="">
        </div>
        <div class="text-secondary">
          <p class="mb-2"><span oh-icon ohType="location-outline" ohTheme="fabric" class="mr-2"></span>97 Nguyễn Chí Thanh, Đống Đa, Hà Nội</p>
          <p class="mb-2"><span oh-icon ohType="phone" ohTheme="outline" class="mr-2 rotate"></span>0243.553.3388</p>
          <p class="mb-2"><span oh-icon ohType="mail" ohTheme="outline" class="mr-2"></span> vnptit&#64;vnpt.vn</p>
        </div>
      </div>
      <div class="ui-col-xl-4 mb-3">
        <ul class="list-unstyled">
          <h6 class="mb-3 text-white">Giới thiệu</h6>
          <li><a href="#" class="text-secondary">Hóa đơn điện tử</a></li>
          <li><a href="#" class="text-secondary">Ký số - CA</a></li>
          <li><a href="#" class="text-secondary">Quản trị</a></li>
          <li><a href="#" class="text-secondary">Hệ thống số</a></li>
        </ul>
      </div>
      <div class="ui-col-xl-4 mb-3">
        <ul class="list-unstyled">
        <h6 class="mb-3 text-white">Tin tức</h6>
          <li><a href="#" class="text-secondary">Lĩnh vực</a></li>
          <li><a href="#" class="text-secondary">Công nghệ</a></li>
          <li><a href="#" class="text-secondary">Nền tảng</a></li>
        </ul>
      </div>
      <div class="ui-col-xl-4 mb-3">
        <ul class="list-unstyled">
        <h6 class="mb-3 text-white">Sản phẩm</h6>
          <li><a href="#" class="text-secondary">VNPT HIS</a></li>
          <li><a href="#" class="text-secondary">VNPT HMIS</a></li>
          <li><a href="#" class="text-secondary">VNPT HSSK</a></li>
          <li><a href="#" class="text-secondary">VNPT HOC</a></li>
          <li><a href="#" class="text-secondary">VNPT H&C</a></li>
        </ul>
      </div>
      <div class="ui-col-xl-5 mb-3">
        <ul class="list-unstyled">
        <h6 class="mb-3 text-white">Dịch vụ</h6>
          <li><a href="#" class="text-secondary">Chính phủ số</a></li>
          <li><a href="#" class="text-secondary">Giải pháp số Doanh nghiệp</a></li>
          <li><a href="#" class="text-secondary">Giải pháp Giáo dục số</a></li>
          <li><a href="#" class="text-secondary">Giải pháp Y tế số</a></li>
          <li><a href="#" class="text-secondary">An toàn bảo mật</a></li>
        </ul>
      </div>
    </div>

    <hr style="border: none; border-top: 1px solid #727272; margin: 0; width: 75%;">

    <div class="dowload pt-4 d-xl-flex d-xs-none">
      <div class="ui-col-xl-7 mb-4 mb-lg-0">
        <div class="mb-3">
          <a href="#" class="social-icon bg-secondary-subtle text-white mr-2"><span oh-icon ohType="facebook" ohTheme="outline"></span></a>
          <a href="#" class="social-icon bg-secondary-subtle text-white mr-2"><span oh-icon ohType="twitter" ohTheme="outline"></span></a>
          <a href="#" class="social-icon bg-secondary-subtle text-white mr-2"><span oh-icon ohType="tik-tok" ohTheme="outline"></span></a>
          <a href="#" class="social-icon bg-secondary-subtle text-white mr-2"><span oh-icon ohType="youtube" ohTheme="outline"></span></a>
        </div>
        <p class="mb-2 copyright">
          Copyright &#64; 2024 VNPT IT
        </p>
        <p class="mb-1">
          <a href="#" class="text-secondary">Điều khoản sử dụng</a>
          <a href="#" class="text-secondary ml-3">Chính sách bảo mật</a>
        </p>
      </div>
      <div class="ui-col-xl-7">
        <h6 class="mb-3 text-white">Tải app ngay</h6>
          <div class="d-xl-flex">
            <img src="/assets/img/qr.png" alt="QR Code" class="qr-img">
            <img src="/assets/img/qr.png" alt="QR Code" class="qr-img mr-2 ">
            <img src="/assets/img/googleplay.png" alt="Google Play" class="app-btn-img mr-1">
            <img src="/assets/img/appstore.png" alt="App Store" class="app-btn-img">
          </div>
      </div>
    </div>
  </div>
</footer>