<section class="intro-section">
  <div class="intro-text">
    <h2>
      Công ty VNPT IT<br />
      trực thuộc Tập đoàn VNPT
    </h2>
    <div class="desc-wrapper">
      <p >
      VNPT IT mang tới bộ giải pháp nằm trong Hệ sinh thái VNPT IT có chất lượng
      hàng đầu Việt Nam, ứng dụng vào nhiều nghiệp vụ lĩnh vực khác nhau và phục
      vụ công tác số hóa toàn diện theo định hướng chiến lược của Chính phủ.
    </p>
    </div>
    
  </div>

  <div class="logo-slide-wrapper">
    <div class="logo-track">
      <img src="assets/img/giamdoc1.jpg" alt="logo" />
      <img src="assets/img/giamdoc2.jpg" alt="logo" />
      <img src="assets/img/giamdoc3.jpg" alt="logo" />
      <img src="assets/img/giamdoc4.jpg" alt="logo" />

      <img src="assets/img/giamdoc1.jpg" alt="logo" />
      <img src="assets/img/giamdoc2.jpg" alt="logo" />
      <img src="assets/img/giamdoc3.jpg" alt="logo" />
      <img src="assets/img/giamdoc4.jpg" alt="logo" />

      <img src="assets/img/giamdoc1.jpg" alt="logo" />
      <img src="assets/img/giamdoc2.jpg" alt="logo" />
      <img src="assets/img/giamdoc3.jpg" alt="logo" />
      <img src="assets/img/giamdoc4.jpg" alt="logo" />
    </div>
  </div>
</section>
<!-- AWARD -->
<section class="award-section">

  <div class="award-text">
    <h2>Giải thưởng</h2>
    <div class="award-wrapper">
      <p >Giải pháp <span class="text-hl">vnCare</span> vinh dự đạt được nhiều giải thưởng danh giá</p>
    </div>
  </div>

  <div class="award-slide-wrapper">
    <div class="award-track">
      <img src="assets/img/award1.png" alt="logo" />
      <img src="assets/img/award2.png" alt="logo" />
      <img src="assets/img/award3.png" alt="logo" />

      <img src="assets/img/award1.png" alt="logo" />
      <img src="assets/img/award2.png" alt="logo" />
      <img src="assets/img/award3.png" alt="logo" />

      <img src="assets/img/award1.png" alt="logo" />
      <img src="assets/img/award2.png" alt="logo" />
      <img src="assets/img/award3.png" alt="logo" />
    </div>
  </div>
</section>