.page-header {
  background: #f5f5f5;
  padding: 0;
}

.menu-toolbar{
  padding: 10px;
}
.menu-toolbar:hover{
  cursor: pointer;
  border-radius: 7px;
  background-color: #eae9e9;
}
.toolbar-top {
  display: flex;
  background: #f5f5f5;
}

/* Toolbar dưới           */
.toolbar-bottom {
  display: flex;
  gap: 8px;
  padding: 8px 12px;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 6px;
}

.sub-btn {
  padding: 5px 10px;
  margin-left: 5px;
  background: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
  color: #333;
}
.sub-btn span{
  margin-right: 4px;
}
.sub-btn:hover {
  background: #e2e2e2;
  border-radius: 4px;
}
.new-btn-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1px;
}

.new-btn, .arrow-btn {
  padding: 6px 12px;
  border: 1px solid #0d6efd;
  background: #0d6efd;
  color: white;
  cursor: pointer;
}

.new-btn {
  border-radius: 4px 0 0 4px;
}

.arrow-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 4px 4px 0;
  width: 32px;
  height: 100%;
}

.new-btn:hover,
.arrow-btn:hover {
  background: #0b5ed7;
}

.dropdown-menu {
  position: absolute;
  top: 110%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  width: 165px;
  padding: 6px 0;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  z-index: 20;
}

.dropdown-menu .item {
  padding: 8px 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.dropdown-menu .item:hover {
  background: #f2f2f2;
}


/* MENU */
.content {
  display: flex;
  height: calc(100vh - 145px);
  transition: 0.25s ease;
}

.left-menu {
  width: 240px;
  background: #f5f5f5;
  padding: 10px 0;
  transition: width 0.2s ease, opacity 0.2s ease;
}
.menu-collapsed .left-menu {
  width: 0;
  opacity: 0;
  overflow: hidden;
}
.menu-item {
  display: block;
  padding: 12px 20px;
  font-size: 14px;
  color: #666;
  text-decoration: none;
  transition: 0.2s;
}

.menu-item:hover {
  background: #eaf3ff;
  color: #0a66c2;
}

.menu-item.active {
  background: #d8e8ff;
  color: #0a66c2;
  font-weight: 600;
  border-left: 4px solid #0a66c2;
  padding-left: 16px;
}

.right-content {
  flex: 1;
  padding: 20px;
  background: #fff;
  transition: 0.2s ease;
  overflow: auto;
}
