.page-header {
  background: #f5f5f5;
  padding: 0;
}
.toolbar-top {
  display: flex;
  background: #f5f5f5;
}
.toolbar-top h2{
  padding: 2px 0px 3px 5px;
}
/* Toolbar dưới           */
.toolbar-bottom {
  display: flex;
  gap: 8px;
  padding: 3px 8px;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 6px;
}

.sub-btn {
  padding: 5px 10px;
  margin-left: 5px;
  background: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
  color: #333;
  transition: all 0.2s ease;
  opacity: 0.5;
  pointer-events: none;
}
.sub-btn.enabled {
  opacity: 1;
  font-weight: 500;
  pointer-events: auto;
}

.sub-btn.disabled {
  opacity: 0.35;
}
.sub-btn span {
  margin-right: 4px;
}
.sub-btn:hover {
  background: #e2e2e2;
  border-radius: 4px;
}

.new-btn-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1px;
}

.new-btn, .arrow-btn {
  padding: 5px 8px;
  border: 1px solid #0078d4;
  background: #0078d4;
  color: white;
  cursor: pointer;
}

.new-btn {
  border-radius: 4px 0 0 4px;
}

.arrow-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 4px 4px 0;
  padding: 8px 8px;
  margin-left: 1px;
  width: 32px;
}

.new-btn:hover,
.arrow-btn:hover {
  background: #0b5ed7;
}

.dropdown-menu {
  position: absolute;
  top: 110%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  width: 165px;
  padding: 6px 0;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  z-index: 50;
}

.dropdown-menu .item {
  padding: 8px 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.dropdown-menu .item:hover {
  background: #f2f2f2;
}
.menu-second{
  display: block;
  align-items: center;
  justify-content: center;
  padding: 10px 7px 5px 8px;
  border-radius: 4px;
}
.menu-second:hover{
  background: #e2e2e2;
}
.menu-second.active {
  background-color: #e2e2e2;
}
[oh-dropdown]{
  color: black;
}
[oh-menu]{
  top: 5px;
  left: -10px
}
/* MENU */
.content {
  position: relative;
  z-index: 20;
  display: flex;
  height: calc(100vh - 150px);
  transition: 0.25s ease;
}
.menu-toggle-wrapper {
  position: absolute;
  z-index: 30;
  display: flex;
  justify-content: center;
  top: 30px;
  left: 220px;
  padding: 8px 0;
  transition: left 0.25s ease;
}
.menu-toggle-wrapper [oh-icon]{
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
.menu-collapsed .menu-toggle-wrapper{
  left: 62px;
}
/* NÚT MENU */
.menu-toolbar {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: #ffffff;

  transition: 0.2s ease;
}

.menu-toolbar:hover {
  cursor: pointer;
  background-color: #eae9e9;
}

.left-menu {
  position: relative;
  z-index: 20;
  width: 230px;
  background: #f5f5f5;
  transition: width 0.25s ease;
  overflow: hidden;
}

.left-menu [oh-menu]{
  background: #f5f5f5;
  border: none;
}
.left-menu [oh-menu-item]{
  background: #f5f5f5;
}
.left-menu [oh-menu-item]::after{
  border: none;
}
.menu-tooltip {
  background-color: #f3f3f3 !important;
  color: #080808 !important;
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 8px;
  margin-left: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}


.menu-collapsed .left-menu {
  width: 70px;
}
.menu-item {
  display: block;
  padding: 12px 20px;
  font-size: 14px;
  color: #666;
  text-decoration: none;
  transition: 0.2s;
}

.menu-item:hover {
  background: #eaf3ff;
  color: #0a66c2;
}

.menu-item.active {
  background: #d8e8ff;
  color: #0a66c2;
  font-weight: 600;
  border-left: 4px solid #0a66c2;
  padding-left: 16px;
}
.menu-item-custom {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  white-space: nowrap;
  transition: 0.2s;
}

.menu-item-custom:hover {
  background: #eaf3ff;
}
.menu-collapsed .menu-text {
  display: none;
}
.menu-collapsed .menu-item-custom {
  justify-content: center;
  padding: 12px 0;
}

.menu-collapsed .left-menu [oh-menu] [oh-menu-item] {
  padding-left: 23px !important;
}

.right-content {
  position: relative;
  z-index: 20;
  flex: 1;
  left: 10px;
  padding: 20px;
  background: #fff;
  transition: 0.2s ease;
  overflow: auto;
}
