<header class="shadow-sm bg-white" id="main-header">
  <!-- Thanh thông tin trên cùng -->
  <div class="px-4 py-2">
    <div class="d-flex header-top">
      <div class="d-flex distance">
        <div class="icon">
          <span oh-icon ohType="mail" ohTheme="outline" class="icon-mail"></span>
          <span class="ml-1 font-size-xl-3">vnptit&#64;vnpt.vn</span>
        </div>
        <div class="icon">
          <span oh-icon ohType="phone" ohTheme="outline" class="icon-phone"></span>
        <span class="ml-1 font-size-xl-3">024.3793.2846</span>
        </div>
        
        
      </div>
      <div class="d-flex distance">
        <a href="https://dangkykham.vncare.vn/sign-up" class="btn-register font-size-xl-3">
          Đăng ký
        </a>
        <a href="https://dangkykham.vncare.vn/login" class="btn-login font-size-xl-3">
          Đăng nhập
        </a>
      </div>

    </div>
  </div>
  <hr style="border: none; border-top: 1px solid #dcdcdc; margin: 0;">


  <nav class="navbar px-2 py-1">
    <!-- Logo -->
    <a routerLink="/" class="navbar-brand">
      <img src="/assets/img/logo.png" alt="DRCARE 247" />
    </a>

    <!-- Nút toggle (hiện khi mobile) -->
    <button class="navbar-toggle" (click)="toggleMenu(); $event.stopPropagation()" aria-label="Toggle navigation">
      ☰
    </button>

    <!-- Menu -->
    <div class="navbar-menu pr-3" [class.active]="menuOpen" (click)="$event.stopPropagation()">
      <ul>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Về ứng dụng</a></li>
        <li><a routerLink="/health" routerLinkActive="active">Kiến thức sức khỏe</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Liên hệ hợp tác</a></li>
        <li><a href="https://datlichkham.vncare.vn/qlhk/login">Dành cho cơ sở y tế</a></li>
      </ul>
    </div>
  </nav>

</header>