.registration {
  background: #ebebeb;
  /* min-height: 100vh; */
  padding: 4px 18px;
}
[oh-button], [oh-input]{
    border-radius: 5px;
}
.reg-container {
  margin: 0 auto;
}

.reg-header {
  background: #fff;
  padding: 8px 12px;
  border-bottom: 1px solid #e5e5e5;
  justify-content: space-between;
  border-radius: 5px;
    align-items: center;
}

.reg-tabs {
  display: flex;
  gap: 20px;
}

.reg-tab {
  cursor: pointer;
  border-bottom: 2px solid transparent;
  font-weight: 600;
  color: #000;
  font-size: 14px;
  transition: all 0.2s ease;
}

.reg-tab:hover {
  border-bottom: 2px solid #ccc;
  color: #0b5ed7;
}

.reg-tab.active {
  color: #0b5ed7;
  border-bottom: 2px solid #0b5ed7;
}

.reg-form {
  background: #fff;
  padding: 6px 12px 3px 12px;
  border-radius: 5px;
}
.reg-row {
  display: flex;
  align-items: center;
  margin-top: 6px;
  gap: 10px;
}

.reg-row label {
  white-space: nowrap;
  font-size: 14px;
  color: #333;
}
[oh-input]{
    font-weight: 700;
}
.input-ba{
    width: 25%;
    margin: 0 1.5% 0 3%;
}
.date-to-date{
    margin-right: 1%;
}
.to-date{
    margin: 0 1% 0 1%;
}
.status{
    margin-right: 1%;
}
.select-status{
    flex:1;
}

.select-clinic{
    width: 25%;
    margin: 0 1.5% 0 0.5%;
}
.select-object{
    width: 17.7%;
    margin: 0 1.2% 0 4.6%;
}
.select-register{
    width: 17.7%;
    margin: 0 1% 0 1%;
}
.btn-search{
    flex: 1;
}
::ng-deep .ui-select:not(.ui-select-customize-input) .ui-select-selector{
  height: 30px;
  border-radius: 5px;
}


.admin-info {
  background: #fff;
  border: 1px solid #d9d9d9;
  margin-top: 10px;
  border-radius: 5px;
}

/* HEADER */
.admin-info-header {
  background: #e6f2ff;
  padding: 6px 12px;
  color: #0b5ed7;
  border-bottom: 1px solid #cfe2ff;
  font-size: 15px;
  font-weight: 700;
  justify-content: space-between;
  align-items: center;
}

/* BODY */
.admin-info-body {
  padding: 10px 12px 0px 12px;
  font-size: 14px;
}
.list-btn{
    display: flex;
    align-items: center;
    gap: 5px;
}
.list-btn a{
    color: #3e84ee;
    border: 1px solid #3e84ee;
    background: #fff;
    border-radius: 5px;
    padding: 3px 8px;
}
.delete{
    border-color: #ff4d4f !important;
    background-color: #ff4d4f !important;
    height: 31px !important;
}
.delete:hover{
    border-color: #f9383b !important;
    background-color: #f9383b !important;
}
::ng-deep .list-btn .ui-btn-primary {
    border-color: #1359c2;
    background-color: #1359c2 ;
}
::ng-deep .list-btn .ui-btn-primary:hover {
    border-color: #276ee9;
    background-color: #276ee9 ;
}
::ng-deep .list-btn .ui-btn-default {
    border-color: #1359c2;
    color: #1359c2;
    height: 32px;
}
::ng-deep .list-btn .ui-btn-default:hover {
    background: #1359c2;
    color: #fff;
}