.registration {
    background: #f5f5f5;
    padding: 8px 6px 4px 18px;
}

[oh-button],
[oh-input] {
    border-radius: 5px;
}
.reg-container {
    margin: 0 auto;
}
tr {
  cursor: pointer;
}
tr.row-selected {
  background: #e6f4ff !important;
  box-shadow: inset 3px 0 0 #1677ff;
}

/* HEADER */

.admin-info {
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}
.admin-info-header {
    background: #e6f2ff;
    padding: 6px 12px;
    color: #0b5ed7;
    border-bottom: 1px solid #cfe2ff;
    font-size: 15px;
    font-weight: 700;
}
.admin-info-body {
    padding: 10px 12px 0px 12px;
    font-size: 14px;
}
.header-row th {
    background: #0b2f6b;
    color: #fff;
    text-align: center;
}

.filter-row input {
    width: 100%;
}
.col-stt, .col-status, .col-cls{
    width: 55px;
    text-align: center;
}
.col-gender{
    width: 80px;
}
.col-object{
    width: 160px;
}
.status-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.status-dot.pending {
    background: #d9d9d9;
}

.status-dot.doing {
    background: #faad14;
}

.status-dot.done {
    background: #52c41a;
}

/* ===== CLS ICON ===== */
.cls-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 2px;
}

.cls-icon.none {
    background: #d9d9d9;
}

.cls-icon.doing {
    background: #1890ff;
}

.cls-icon.done {
    background: #52c41a;
}

/* ===== TAG ===== */
.tag {
    padding: 2px 8px;
    border-radius: 4px;
}

.tag.number {
    background: #fff0f6;
    color: #eb2f96;
    border: 1px solid #ffadd2;
}

.tag.vncare {
    background: #f6ffed;
    color: #52c41a;
    border: 1px solid #b7eb8f;
}
.legend {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #595959;
}
::ng-deep .ui-table.ui-table-bordered>.ui-table-container>.ui-table-content>table>thead>tr>th {
    padding: 3px;
}

::ng-deep .ui-table.ui-table-bordered>.ui-table-container>.ui-table-content>table>tbody>tr>td {
    padding: 2px;
}