.registration {
    background: #f5f5f5;
    padding: 3px 6px 4px 18px;
}

[oh-button],
[oh-input] {
    border-radius: 5px;
}
.reg-container {
    margin: 0 auto;
}

/* HEADER */

.admin-info {
    border-radius: 5px;
}
.admin-info-header {
    background: #ebf2f8;
    padding: 10px 14px 4px 14px;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    font-weight: 600;
}
.admin-info-body {
    padding: 10px 0px 0px 0px;
    justify-content: space-between;
    font-size: 14px;
}
.filter-row input {
}
.filter-row th{
    padding: 3px 12px;
}
.content td{
    padding: 4px 8px;
}
::ng-deep .ui-tabs-tab+.ui-tabs-tab{
    margin: 0 4px;
}
::ng-deep .ui-tabs-top>.ui-tabs-nav{
    margin: 0 0 7px 0 !important;
}
.table{
    padding: 10px 10px 0 10px;
    background: #fff;
}
.right-table th {
    background: #e8edf5;
    color: #2362f4;
    text-align: center;
    padding: 4px 8px;
    white-space: nowrap;
}
.right-content{
    padding: 0 8px;
    background: #fff;
    border-radius: 5px;
}
.action{
    color: black;
}
.menu-action li span{
    margin-right: 8px;
}
::ng-deep .ui-tabs-nav-add{
    display: none;
}

::ng-deep .ui-tabs-card.ui-tabs-top>.ui-tabs-nav .ui-tabs-tab-active{
    border-bottom: 1px solid #2362f4;
}
::ng-deep .ui-tabs-card.ui-tabs-top>.ui-tabs-nav .ui-tabs-tab+.ui-tabs-tab{
    margin: 0;
}
::ng-deep .ui-tabs-card>.ui-tabs-nav .ui-tabs-tab{
    background-color: #fff;
    padding: 6px 0px 6px 8px;
    /* border: none; */
    border-bottom: 1px solid #f0f0f0;
    border-top: none;
    border-left: none;
    border-right: none;
}
/* ::ng-deep .ui-btn-primary, ::ng-deep .ui-btn-default{
    padding: 4px;
} */
::ng-deep #edit-add{
    background: #096dd9;
    border-color: #096dd9;
}
::ng-deep #edit-add:hover{
    background: #377be0;
    border-color: #377be0;
}

::ng-deep #edit-cancel{
    border-color: #096dd9;
    color: #096dd9;
}
::ng-deep #edit-cancel:hover{
    color: #fff;
    background: #096dd9;
}

.info-row {
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 6px;
}
.info-row input{
    border-radius: 5px;
    height: 32px;
}
.required {
  color: red;
}