<div class="registration">
  <div class="reg-container">
    <!-- THÔNG TIN HÀNH CHÍNH -->
    <div class="admin-info">

      <!-- ===== HEADER ===== -->
      <div class="admin-info-header d-flex justify-between align-center">
        <div class="tabs">
          <span class="tab" [class.active]="activeTab === 'admin'" (click)="activeTab = 'admin'">
            THÔNG TIN HÀNH CHÍNH
          </span>

          <span class="tab" [class.active]="activeTab === 'ticket'" (click)="activeTab = 'ticket'">
            THÔNG TIN PHIẾU KHÁM
          </span>
        </div>

        <span oh-icon ohType="caret-down" class="toggle-icon" [class.rotated]="!isAdminInfoOpen"
          (click)="toggleAdminInfo()">
        </span>
      </div>

      <!-- ===== CONTENT ===== -->
      <!-- THÔNG TIN HÀNH CHÍNH -->
      <div class="admin-info-body" *ngIf="isAdminInfoOpen">

        <ng-container *ngIf="activeTab === 'admin'">
          <!-- ROW 1 -->

          <div class="info-row d-flex align-center justify-between">
            <div class="ui-col-xl-6 d-flex align-center justify-between">
              <label class="ui-col-xl-8">Mã bệnh nhân</label>
              <input oh-input placeholder="Nhập" class="ui-col-xl-14" />
            </div>
            <div class="ui-col-xl-8 d-flex align-center justify-between">
              <label class="ui-col-xl-4">Họ và tên <span class="required">*</span></label>
              <input oh-input placeholder="Họ và tên người bệnh" class="ui-col-xl-18" />
            </div>
            <div class="ui-col-xl-9 d-flex align-center justify-between">
              <label class="ui-col-xl-4">Sinh ngày <span class="required">*</span></label>
              <input oh-input placeholder="hh:mm" class="ui-col-xl-3" />
              <oh-input-group ohCompact class="ui-col-xl-6">
                <oh-date-picker ohPlaceHolder="dd/mm/yyyy"></oh-date-picker>
              </oh-input-group>
              <input oh-input class="ui-col-xl-4" placeholder="Năm sinh" />
              <input oh-input class="ui-col-xl-2" placeholder="" />
              <oh-select ohPlaceHolder="Tuổi" class="ui-col-xl-4"></oh-select>
            </div>
          </div>

          <!-- ROW 2 -->
          <div class="info-row d-flex align-center justify-between">
            <div class="ui-col-xl-6 d-flex align-center justify-between">
              <label class="ui-col-xl-8">Giới tính <span class="required">*</span></label>
              <oh-select [ngModel]="'Nam'" class="ui-col-xl-14">
                <oh-option [ohLabel]="'Nam'" [ohValue]="'Nam'"></oh-option>
                <oh-option [ohLabel]="'Nữ'" [ohValue]="'Nữ'"></oh-option>
              </oh-select>
            </div>
            <div class="ui-col-xl-6 d-flex align-center justify-between">
              <label class="ui-col-xl-4">Nghề nghiệp <span class="required">*</span></label>
              <oh-select ohPlaceHolder="Chọn" class="ui-col-xl-16"></oh-select>
            </div>
            <div class="ui-col-xl-11 d-flex align-center justify-between">
              <label class="ui-col-xl-3">Dân tộc <span class="required">*</span></label>
              <oh-select ohPlaceHolder="Kinh" class="ui-col-xl-7"></oh-select>

              <label class="ui-col-xl-3">Quốc tịch <span class="required">*</span></label>
              <oh-select ohPlaceHolder="Chọn" class="ui-col-xl-7"></oh-select>
            </div>
          </div>

          <!-- ROW 3 -->
          <div class="info-row d-flex align-center justify-between">
            <div class="ui-col-xl-12 d-flex align-center justify-between">
              <label class="ui-col-xl-2">Tỉnh (TP) / Xã (P) <span class="required">*</span></label>
              <input oh-input placeholder="Nhập" class="inp-city" />
              <!-- ui-col-xl-19 -->
            </div>
            <div class="ui-col-xl-11 d-flex align-center justify-between">
              <label class="ui-col-xl-4">Tỉnh (Thành phố) <span class="required">*</span></label>
              <oh-select ohPlaceHolder="Chọn" class="ui-col-xl-6"></oh-select>
              <label class="ui-col-xl-3">Xã (Phường) <span class="required">*</span></label>
              <oh-select ohPlaceHolder="Chọn" class="ui-col-xl-7"></oh-select>
            </div>
          </div>

          <!-- ROW 4 -->
          <div class="info-row d-flex align-center justify-between">
            <div class="ui-col-xl-6 d-flex align-center justify-between">
              <label class="ui-col-xl-8">Số nhà</label>
              <input oh-input placeholder="Nhập" class="ui-col-xl-14" />
            </div>
            <div class="ui-col-xl-10 d-flex align-center justify-between">

              <label class="">Địa chỉ BN <span class="required">*</span></label>
              <input oh-input class="inp-addrbn" />
            </div>
            <div class="ui-col-xl-7 d-flex align-center justify-between">
              <button oh-button ohType="primary" class="ui-col-xl-4">
                MST
              </button>
              <label class="ui-col-xl-5">Số điện thoại <span class="required">*</span></label>
              <input oh-input placeholder="Nhập" class="ui-col-xl-11" />
            </div>
          </div>

          <!-- ROW 5 -->
          <div class="info-row d-flex align-center justify-between">
            <div class="ui-col-xl-6 d-flex align-center justify-between">
              <label class="ui-col-xl-8">Số CCCD <span class="required">*</span></label>
              <input oh-input placeholder="Nhập" class="ui-col-xl-14" />
            </div>
            <div class="ui-col-xl-6 d-flex align-center justify-between">
              <label class="ui-col-xl-6">Ngày cấp CCCD</label>
              <oh-input-group ohCompact class="ui-col-xl-16 date-cccd">
                <oh-date-picker ohPlaceHolder="dd/mm/yyyy"></oh-date-picker>
              </oh-input-group>
            </div>
            <div class="ui-col-xl-11 d-flex align-center justify-between">
              <label class="">Nơi cấp CCCD</label>
              <input oh-input placeholder="Nhập" class="inp-cccd" />
            </div>
          </div>

          <!-- ROW 6 -->
          <div class="info-row d-flex align-center justify-between">
            <div class="ui-col-xl-6 d-flex align-center justify-between">
              <label class="ui-col-xl-8">Người LH / Giám hộ</label>
              <input oh-input placeholder="Nhập" class="ui-col-xl-14" />
            </div>
            <div class="ui-col-xl-8 d-flex align-center justify-between">
              <label class="ui-col-xl-5">Địa chỉ NLH</label>
              <input oh-input placeholder="Nhập" class="ui-col-xl-18" />
            </div>
            <div class="ui-col-xl-9 d-flex align-center justify-between">
              <label class="ui-col-xl-4">MQH với BN</label>
              <oh-select ohPlaceHolder="Chọn" class="ui-col-xl-6"></oh-select>

              <label class="ui-col-xl-4">SĐT NLH</label>
              <input oh-input class="ui-col-xl-9" />
            </div>
          </div>

          <!-- ROW 7 -->
          <div class="info-row d-flex align-center justify-between">
            <div class="ui-col-xl-6 d-flex align-center justify-between">
              <label class="ui-col-xl-8">Họ và tên bố</label>
              <input oh-input class="ui-col-xl-14" placeholder="Nhập" />
            </div>
            <div class="ui-col-xl-6 d-flex align-center justify-between">
              <label class="ui-col-xl-4">Mã BHXH của bố</label>
              <input oh-input class="ui-col-xl-16" placeholder="Nhập" />
            </div>
            <div class="ui-col-xl-11 d-flex align-center justify-between">
              <label class="ui-col-xl-4">Họ và tên mẹ</label>
              <input oh-input class="ui-col-xl-7" placeholder="Nhập" />
              <label class="ui-col-xl-5">Mã BHXH của mẹ</label>
              <input oh-input class="ui-col-xl-7" placeholder="Nhập" />
            </div>

          </div>

          <!-- ROW 8 -->
          <div class="info-row d-flex align-center justify-between">
            <div class="ui-col-xl-6 d-flex align-center justify-between">
              <label class="ui-col-xl-6">Ngày quyết định hưu</label>
              <oh-input-group ohCompact class="ui-col-xl-14 date-huu">
                <oh-date-picker ohPlaceHolder="dd/mm/yyyy"></oh-date-picker>
              </oh-input-group>
            </div>
            <div class="ui-col-xl-6 d-flex align-center justify-between">
              <label class="ui-col-xl-7">Đơn vị công tác <span class="required">*</span></label>
              <label oh-checkbox [(ngModel)]="checked" class="ui-col-xl-1 d-flex"></label>
              <oh-select ohPlaceHolder="-" class="ui-col-xl-14"></oh-select>
            </div>
            <div class="ui-col-xl-11 d-flex align-center justify-between">
              <oh-select ohPlaceHolder="-" class="ui-col-xl-17"></oh-select>
              <button oh-button ohType="primary" class="ui-col-xl-6">
                Kiểm tra HRM
              </button>
            </div>
          </div>

          <!-- ROW 9 -->
          <div class="info-row d-flex align-center justify-between">
            <div class="ui-col-xl-6 d-flex align-center justify-between">
              <label class="ui-col-xl-8">Quân hàm</label>
              <oh-select ohPlaceHolder="Chọn" class="ui-col-xl-14"></oh-select>
            </div>
            <div class="ui-col-xl-4 d-flex align-center justify-between">
              <label class="ui-col-xl-8">Người giới thiệu</label>
              <label oh-checkbox [(ngModel)]="checked" class="ui-col-xl-12 d-flex">Ngoài bệnh viện</label>
            </div>
            <div class="ui-col-xl-13 d-flex align-center">
              <oh-select ohPlaceHolder="Chọn người giới thiệu" class="ui-col-xl-24"></oh-select>
            </div>
          </div>

          <!-- ROW 10 -->
          <div class="info-row d-flex align-center justify-between">
            <div class="ui-col-xl-2 d-flex align-center justify-between">
              <label class="ui-col-xl-8">Nguồn khách</label>
            </div>
            <div class="ui-col-xl-6 d-flex align-center justify-between">
              <oh-select ohPlaceHolder="Nhóm nguồn" class="ui-col-xl-24"></oh-select>
            </div>
            <div class="ui-col-xl-15 d-flex align-center justify-between">
              <oh-select ohPlaceHolder="Nguồn khách hàng" class="ui-col-xl-24"></oh-select>
            </div>
          </div>
        </ng-container>

        <!-- THÔNG TIN PHIẾU KHÁM -->
        <!-- ROW 1 -->
        <ng-container *ngIf="activeTab === 'ticket'">
          <div class="info-row d-flex align-center justify-between">
            <div class="ui-col-xl-6 d-flex align-center justify-between">
              <label class="ui-col-xl-8">Giờ tiếp nhận<span class="required">*</span></label>
              <oh-date-picker ohShowTime ohFormat="yyyy-MM-dd HH:mm:ss" ngModel (ngModelChange)="onChange($event)"
                (ohOnOk)="onOk($event)" class="ui-col-xl-14"></oh-date-picker>
            </div>
            <div class="ui-col-xl-6 d-flex align-center justify-between">
              <label class="ui-col-xl-6">Lý do tiếp nhận</label>
              <oh-select ohPlaceHolder="Chọn" class="ui-col-xl-16"></oh-select>
            </div>
            <div class="ui-col-xl-11 d-flex align-center justify-between">
              <label class="ui-col-xl-2">Thẻ</label>
              <oh-select ohPlaceHolder="Chọn" class="ui-col-xl-8"></oh-select>
              <label class="ui-col-xl-4">Loại gói</label>
              <oh-select ohPlaceHolder="Chọn" class="ui-col-xl-9"></oh-select>
            </div>
          </div>

          <!-- ROW 2 -->
          <div class="info-row d-flex align-center justify-between">
            <div class="ui-col-xl-8 d-flex align-center justify-between">
              <label class="ui-col-xl-6">Yêu cầu khám <span class="required">*</span></label>
              <input oh-input placeholder="Chọn" class="ui-col-xl-17 inp-request" />
            </div>
            <div class="ui-col-xl-11 d-flex align-center justify-between">
              <button oh-button ohType="primary" class="ui-col-xl-3">PKSK</button>
              <label class="ui-col-xl-3">Phòng khám<span class="required">*</span></label>
              <oh-select ohPlaceHolder="Chọn" class="ui-col-xl-11 select-choose"></oh-select>
              <button oh-button ohType="primary" class="ui-col-xl-3 btn-choose">Chọn PK</button>
            </div>
            <div class="ui-col-xl-4  d-flex align-center justify-between">
              <label oh-checkbox [(ngModel)]="checked">Ưu tiên</label>
              <label oh-checkbox [(ngModel)]="checked">Mua dịch vụ</label>
            </div>
          </div>

          <!-- ROW 3 -->
          <div class="info-row d-flex align-center justify-between">
            <div class="ui-col-xl-12 d-flex align-center justify-between">
              <label class="ui-col-xl-4">Lý do vào viện<span class="required">*</span></label>
              <input oh-input placeholder="Nhập" class="inp-resaon-bv" />
            </div>
            <div class="ui-col-xl-5 select-code d-flex align-center justify-between">
              <label class="ui-col-xl-10">Mã đơn vị gửi mẫu<span class="required">*</span></label>
              <oh-select ohPlaceHolder="Chọn" class="ui-col-xl-11 "></oh-select>
            </div>
            <div class="ui-col-xl-5 d-flex align-center">
              <label oh-checkbox [(ngModel)]="checked" class="label-kham">Khám giám định</label>
            </div>
          </div>

          <!-- ROW 4 -->
          <div class="info-row d-flex align-center justify-between">
            <div class="ui-col-xl-10 d-flex align-center justify-between">
              <label class="ui-col-xl-5">Công ty<span class="required">*</span></label>
              <oh-select ohPlaceHolder="Chọn" class="ui-col-xl-18"></oh-select>
            </div>
            <div class="ui-col-xl-5 d-flex align-center justify-between">
              <label class="ui-col-xl-6">Mã VIP<span class="required">*</span></label>
              <input oh-input class="ui-col-xl-18" placeholder="Nhập" />
            </div>
            <div class="ui-col-xl-8 d-flex align-center justify-between">
              <label class="ui-col-xl-4">Từ ngày<span class="required">*</span></label>
              <oh-input-group ohCompact class="ui-col-xl-8">
                <oh-date-picker ohPlaceHolder="dd/mm/yyyy"></oh-date-picker>
              </oh-input-group>
              <label class="ui-col-xl-4">Đến ngày<span class="required">*</span></label>
              <oh-input-group ohCompact class="ui-col-xl-7">
                <oh-date-picker ohPlaceHolder="dd/mm/yyyy"></oh-date-picker>
              </oh-input-group>
            </div>
          </div>

          <!-- ROW 5 -->
          <div class="info-row d-flex align-center justify-between">
            <div class="ui-col-xl-6 d-flex align-center justify-between">
              <label oh-radio ngModel>Nhập thuốc theo hẹn, không khám bệnh</label>
            </div>
            <div class="ui-col-xl-6 d-flex align-center justify-between">
              <label class="ui-col-xl-3">Nơi lĩnh thuốc</label>
              <oh-select ohPlaceHolder="Chọn" class="ui-col-xl-16"></oh-select>
            </div>
            <div class="ui-col-xl-11 d-flex align-center justify-between">
              <label class="ui-col-xl-2">Thu khác</label>
              <input oh-input placeholder="Nhập" class="ui-col-xl-21" />
            </div>
          </div>

          <!-- ROW 6 -->
          <div class="info-row d-flex align-center justify-between">
            <div class="ui-col-xl-6 d-flex align-center justify-between">
              <label oh-radio ngModel>Mời bác sĩ hội chẩn</label>
            </div>
            <div class="ui-col-xl-6 d-flex align-center justify-between">
              <oh-select ohPlaceHolder="Chọn bác sĩ" class="ui-col-xl-24"></oh-select>
            </div>
            <div class="ui-col-xl-11 d-flex align-center justify-between">
              <label class="ui-col-xl-6">Ngày cấp giấy xác nhận</label>
              <oh-input-group ohCompact class="ui-col-xl-7">
                <oh-date-picker ohPlaceHolder="dd/mm/yyyy"></oh-date-picker>
              </oh-input-group>

              <label class="ui-col-xl-4">Đơn vị cấp giấy</label>
              <oh-select ohPlaceHolder="Chọn" class="ui-col-xl-6"></oh-select>
            </div>
          </div>

          <!-- ROW 7 -->
          <div class="info-row d-flex align-center justify-between">
            <label class="ui-col-xl-2">Ghi chú tiếp đón</label>
            <input oh-input class="inp-note" placeholder="Nhập" />
          </div>

          <!-- ROW 8 -->
          <div class="info-row d-flex align-center">
            <label oh-checkbox [(ngModel)]="unchecked" class="">Các trường hợp khám bệnh, chữa bệnh theo quy định
              đối với người mắc bệnh HIV/AIDS</label>
          </div>

          <!-- ROW 9 -->
          <div class="info-row d-flex align-center">
            <label oh-checkbox [(ngModel)]="unchecked" class="">Bệnh nhân đã đọc và đồng ý quy chế bảo vệ dữ liệu
              cá nhân của [BV Đa khoa Tỉnh]</label>
          </div>
        </ng-container>
      </div>

    </div>

    <!-- BẢO HIỂM Y TẾ -->
    <div class="insurance-info">

      <!-- ===== HEADER ===== -->
      <div class="insurance-header d-flex justify-between align-center">
        <span class="title">
          BẢO HIỂM Y TẾ
          <span class="sub-title">
            DN4014017138394 - 80 - 01/01/2024 -> 01/01/2025 - Phòng khám Trung tâm y tế Quận Thanh Xuân - Quận Thanh
            Xuân, TP Hà Nội
          </span>
        </span>
        <span oh-icon ohType="caret-down" class="toggle-icon" [class.rotated]="!isInsuranceOpen"
          (click)="toggleInsurance()"></span>
      </div>

      <!-- ===== BODY ===== -->
      <div class="insurance-body" *ngIf="isInsuranceOpen">

        <!-- ROW 1 -->
        <div class="ins-row d-flex align-center justify-between">
          <div class="ui-col-xl-6 d-flex align-center justify-between">
            <label class="ui-col-xl-6">Mã thẻ <span class="required">*</span></label>
            <input oh-input placeholder="Nhập" class="ui-col-xl-14" />
          </div>
          <div class="ui-col-xl-6 d-flex align-center justify-between">
            <input oh-input placeholder="Mức hưởng" class="ui-col-xl-7" />
            <label oh-checkbox [(ngModel)]="checked" class="ui-col-xl-6 d-flex">Thẻ tạm</label>
            <oh-select ohPlaceHolder="Chọn" class="ui-col-xl-9"></oh-select>
          </div>
          <div class="ui-col-xl-11 d-flex align-center justify-between">
            <label oh-checkbox [(ngModel)]="checked" class="ui-col-xl-4 d-flex">Giữ thẻ BHYT</label>
            <label class="ui-col-xl-4">Nơi đăng ký KCB <span class="required">*</span></label>
            <oh-select ohPlaceHolder="Chọn" class="ui-col-xl-15"></oh-select>
          </div>
        </div>

        <!-- ROW 2 -->
        <div class="ins-row d-flex align-center justify-between">
          <div class="ui-col-xl-8 d-flex align-center justify-between">
            <label class="ui-col-xl-3">Đối tượng thẻ</label>
            <input oh-input placeholder="Nhập" class="ui-col-xl-17 inp-object-the" />
          </div>
          <div class="ui-col-xl-4 d-flex align-center justify-between">
            <label class="ui-col-xl-6">Nơi sống</label>
            <oh-select ohPlaceHolder="Chọn" class="inp-live"></oh-select>
          </div>
          <div class="ui-col-xl-11 d-flex align-center justify-between">
            <label class="ui-col-xl-4">Từ ngày<span class="required">*</span></label>
            <oh-input-group ohCompact class="ui-col-xl-7 date-from-bhyt">
              <oh-date-picker ohPlaceHolder="dd/mm/yyyy"></oh-date-picker>
            </oh-input-group>

            <label class="ui-col-xl-5">Đến ngày<span class="required">*</span></label>
            <oh-input-group ohCompact class="ui-col-xl-7 date-to-bhyt">
              <oh-date-picker ohPlaceHolder="dd/mm/yyyy"></oh-date-picker>
            </oh-input-group>
          </div>
        </div>

        <!-- ROW 3 -->
        <div class="ins-row d-flex align-center justify-between">
          <div class="ui-col-xl-12 d-flex align-center justify-between">
            <label class="ui-col-xl-4">Địa chỉ BH <span class="required">*</span></label>
            <input oh-input placeholder="Nhập" class="inp-address-bhyt" />
          </div>
          <div class="ui-col-xl-2 d-flex align-center justify-center">
            <label class="label-tuyen">Tuyến <span class="required">*</span></label>
          </div>
          <div class="ui-col-xl-9 d-flex align-center justify-between">
            <oh-select ohPlaceHolder="Chọn" class="ui-col-xl-12"></oh-select>
            <oh-select ohPlaceHolder="Chọn" class="ui-col-xl-11"></oh-select>
          </div>
        </div>

        <!-- ROW 4 -->
        <div class="ins-row d-flex align-center justify-between">
          <div class="ui-col-xl-6 d-flex align-center justify-between">
            <label oh-checkbox [(ngModel)]="unchecked" class="ui-col-xl-6 d-flex">Đủ 5 năm</label>
            <oh-input-group ohCompact class="ui-col-xl-14 date-from-year">
              <oh-date-picker ohPlaceHolder="dd/mm/yyyy"></oh-date-picker>
            </oh-input-group>
          </div>
          <div class="ui-col-xl-6 d-flex align-center justify-between">
            <label oh-checkbox [(ngModel)]="unchecked" class="ui-col-xl-6 d-flex">Đủ 6 tháng TCLS</label>
            <oh-input-group ohCompact class="ui-col-xl-14 date-to-year">
              <oh-date-picker ohPlaceHolder="dd/mm/yyyy"></oh-date-picker>
            </oh-input-group>
          </div>
          <div class="ui-col-xl-11 d-flex align-center justify-between">
            <label class="ui-col-xl-4">ĐT miễn giảm</label>
            <oh-select ohPlaceHolder="Chọn" class="select-free"></oh-select>
          </div>
        </div>

        <!-- ROW 5 -->
        <div class="ins-row d-flex align-center justify-between">
          <div class="ui-col-xl-12 d-flex align-center justify-between">
            <label class="ui-col-xl-3">C.Đoán TD</label>
            <input oh-input placeholder="Nhập" class="ui-col-xl-20 inp-diganose" />
          </div>
          <div class="ui-col-xl-11 d-flex align-center justify-between">
            <label class="ui-col-xl-3">Nơi chuyển <span class="required">*</span></label>
            <oh-select ohPlaceHolder="Chọn" class="ui-col-xl-10 select-chuyen"></oh-select>
            <input oh-input placeholder="Số chuyển viện" class="ui-col-xl-9" />
          </div>
        </div>

        <!-- ROW 6 -->
        <div class="ins-row d-flex align-center justify-between">
          <div class="ui-col-xl-12 d-flex align-center justify-between">
            <label class="ui-col-xl-3">Hình thức chuyển</label>
            <oh-select ohPlaceHolder="1a: Chuyển người bệnh từ tuyến dưới lên tuyến trên liền kề"
              class="ui-col-xl-20 inp-transfer-form"></oh-select>
          </div>
          <div class="ui-col-xl-11 d-flex align-center justify-between">
            <label class="ui-col-xl-3">Lý do chuyển <span class="required">*</span></label>
            <oh-select ohPlaceHolder="Đủ điều kiện chuyển tuyến" class="select-reason"></oh-select>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>