<section class="section-banner">
  <img src="/assets/img/ellipse.png" alt="" class="position-absolute ellipse1">
  <img src="/assets/img/ellipse.png" alt="" class="position-absolute ellipse2">
  <img src="/assets/img/ellipse-top-right1.png" alt="" class="position-absolute ellipse3">
  <img src="/assets/img/ellipse-top-right2.png" alt="" class="position-absolute ellipse4">
  <oh-carousel ohAutoPlay *ngIf="slides.length">
    @for (slide of slides; track slide.id) {
    <div oh-carousel-content class="d-xl-flex d-xs-none banner p-8">
      <div class="ui-col-xl-9 banner-img-left" data-aos="fade-right">
        <img [src]="slide.thumbnail" [alt]="slide.title" draggable="false"/>
      </div>
      <div class="ui-col-xl-14 text-white banner-text" data-aos="fade-left">
        <p class="text-uppercase opacity-75 small mb-2">Bài viết nổi bật</p>
        <p class="text-white font-size-xl-11 font-size-xs-2  mb-3">
          {{ slide.title }}
        </p>
        <p class="opacity-90 mb-4  ">
          {{ slide.description | slice:0:100 }}...
        </p>
        <a (click)="goToDetail(slide.id)" class="btn-banner">
          Xem chi tiết →
        </a>
      </div>
    </div>
    }
  </oh-carousel>
</section>

<section class="news-section">
  <p class="font-size-xl-11 font-size-xl-9 mb-7 font-weight-bold">Kiến thức sức khỏe</p>

  <!-- Thanh tìm kiếm -->
  <div class="search-bar d-flex mb-8">
  <input
    type="text"
    placeholder="Nhập tìm kiếm..."
    [(ngModel)]="searchKeyword"
    (keyup.enter)="onSearch()"
  />
  <span oh-icon ohType="close" ohTheme="outline" class="clear-btn" *ngIf="searchKeyword" (click)="clearSearch()"></span>
  <button (click)="onSearch()">Tìm kiếm</button>
</div>


  <!-- Danh sách bài viết -->

  <section class="news-container">
  @for (item of pagedArticles; track item.id) {
    <div (click)="goToDetail(item.id)" class="news-card p-2">
      <div class="news-image">
        <img [src]="item.thumbnail" [alt]="item.title" />
      </div>
      <div class="news-body">
        <h6 class="text-gray">{{ item.categoryName }}</h6>
        <p class="title">{{ item.title }}</p>
        <p class="descrip">
          {{ item.description | slice:0:80 }}...
        </p>
      </div>
    </div>
  }
</section>

<oh-pagination
  [ohPageIndex]="pageIndex"
  [ohTotal]="total"
  [ohPageSize]="pageSize"
  (ohPageIndexChange)="onPageIndexChange($event)" class="pagination">
</oh-pagination>
</section>