<div class="table-toolbar">
  <div class="toolbar-left">
    <div class="search-wrapper">
      <input
        #searchInput
        oh-input
        placeholder="Search news..."
        [(ngModel)]="keyword"
        (ngModelChange)="onKeywordChange()"
        (keyup.enter)="onSearch()"
      />
      <span *ngIf="!keyword" class="search-icon" oh-icon ohType="search"></span>
      <span
        *ngIf="keyword"
        class="clear-icon"
        oh-icon
        ohType="close"
        (click)="clearSearch(searchInput)"
      ></span>
    </div>

    <button oh-button ohType="primary" (click)="onSearch()">Search</button>
  </div>
</div>

<oh-table #newsTable [ohData]="listOfDisplayData" ohTableLayout="fixed" (ohCurrentPageDataChange)="onCurrentPageDataChange($event)">
  <thead>
    <tr>
      <th [ohChecked]="checked"
        [ohIndeterminate]="indeterminate"
        (ohCheckedChange)="onAllChecked($event)"
        class="checkbox-col"></th>

      <th
        *ngFor="let column of listOfColumns"
        [ohSortOrder]="column.sortOrder"
        [ohSortFn]="column.sortFn"
        [ohSortDirections]="column.sortDirections"
        [ohFilters]="column.listOfFilter"
        [ohFilterFn]="column.filterFn"
        [ohFilterMultiple]="column.filterMultiple"
      >
        {{ column.name }}
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of newsTable.data">
      <td
        class="checkbox-col"
        [ohChecked]="setOfCheckedId.has(item.id)"
        (ohCheckedChange)="onItemChecked(item.id, $event)"
      ></td>

      <td class="link" (click)="goToEdit(item.id)">
        {{ item.title }}
      </td>
      <td>{{ item.author }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.category }}</td>
      <td>{{ item.createdAt | date: 'dd/MM/yyyy' }}</td>
    </tr>
  </tbody>
</oh-table>
