.category-page {
    padding-right: 20px;
    gap: 20px;
}
[oh-input], [oh-button]{
    border-radius: 5px;
}
.left-form {
    background: #fff;
    border-radius: 5px;
    padding: 5px;
}

.left-form label {
    display: block;
    margin-top: 12px;
    font-weight: 500;
}

.left-form button {
    margin-top: 10px;
}

.right-table {
    background: #fff;
    padding: 4px 10px;
    border-radius: 5px;
}

.right-search {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
    align-items: center;
}

.search-wrapper {
    position: relative;
    width: 260px;
}

.search-wrapper input {
    width: 100%;
    padding-right: 30px;
}

.search-icon,
.clear-icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #999;
}