<main class="p-5 pl-8">
    <div class="d-xl-flex d-xs-none">
        <!-- NETWORK SOCIAL -->
        <div class="ui-col-xl-2 pl-xl-2 d-xl-flex d-xs-none social" style="top: 7rem;">
            <p class="text-secondary mb-0">Chia sẻ</p>
            <a href="https://www.facebook.com" class="">
                <img src="/assets/img/facebook.png" alt="Facebook" class="">
            </a>
            <a href="https://x.com/" class="">
                <img src="/assets/img/twitter.png" alt="Twitter" class="">
            </a>
            <a href="https://zalo.me" class="">
                <img src="/assets/img/zalo.png" alt="Zalo" class="">
            </a>
        </div>

        <!-- CỘT GIỮA: Bài viết chính -->
        <div class="ui-col-xl-13">

            <div [innerHTML]="news.content" class="main-content"></div>

        </div>

        <!-- CỘT PHẢI: Bài viết liên quan -->
        <div class="related-posts pl-xl-5 ui-col-xl-8">
            <h3 class="font-size-7 mb-2">Bài viết liên quan</h3>

            <a
                *ngFor="let post of relatedPosts"
                (click)="goToDetail(post.id)"
                class="related-item"
            >
                <div class="thumb">
                <img [src]="post.thumbnail" [alt]="post.title">
                </div>

                <div class="content">
                <p class="text-uppercase font-size-2 px-2 py-1 category">
                    {{ post.categoryName }}
                </p>
                <p class="title">{{ post.title | slice:0:40 }}...</p>
                </div>
            </a>
        </div>
    </div>
</main>