<div class="head-panel">
  <!-- HEAD ROUTE -->
  <div class="head-route">
    <!-- Breadcrumb -->
    <div class="breadcrumb">
      <oh-breadcrumb>
        <oh-breadcrumb-item>
          <span oh-icon ohType="home"></span>
        </oh-breadcrumb-item>
        <oh-breadcrumb-item>
          <span>Tiếp nhận</span>
        </oh-breadcrumb-item>
        <oh-breadcrumb-item>
          {{ pageTitle }}
        </oh-breadcrumb-item>
      </oh-breadcrumb>
    </div>
    <!-- ===== TITLE ===== -->
    <div class="head-title" (dblclick)="toggleHead()">
      <span class="title-text">{{ pageTitle }}</span>
      <span oh-icon ohType="caret-down" ohTheme="outline" class="toggle-icon" [class.rotated]="!isHead"
        (click)="toggleHead()"></span>
    </div>

    <!-- ===== BUTTON ===== -->
    <div class="head-body" *ngIf="isHead">
      <div class="head-button">
        <!-- TIẾP NHẬN -->
        <ng-container *ngIf="isTiepNhan">
          <div class="action-group">
            <his-action-bar [hisActionBarConfig]="hisActionBarTiepNhan" hisTrigger="hover"></his-action-bar>
          </div>
        </ng-container>

        <!-- DANH SÁCH TIẾP NHẬN -->
        <ng-container *ngIf="isDanhSach">
          <div class="action-group">
            <his-action-bar [hisActionBarConfig]="hisActionBarDanhSach" hisTrigger="hover"></his-action-bar>
          </div>
        </ng-container>

        <!-- LỊCH SỬ -->
        <ng-container *ngIf="isLichSu">
          <div class="action-group">
            <button oh-button ohType="default" (click)="router.navigate(['/ds-tiepnhan'])">
              Quay lại
            </button>
            <his-action-bar [hisActionBarConfig]="hisActionBarLichSu" hisTrigger="hover"></his-action-bar>
          </div>
        </ng-container>

        <!-- CHỈ ĐỊNH DỊCH VỤ-->
        <ng-container *ngIf="isChiDinh">
          <div class="action-group">
            <button oh-button ohType="default" (click)="router.navigate(['/ds-tiepnhan'])">
              Quay lại
            </button>
            <his-action-bar [hisActionBarConfig]="hisActionBarChiDinh" hisTrigger="hover"></his-action-bar>

          </div>
        </ng-container>

        <!-- QUẢN LÝ NGƯỜI DÙNG-->
        <ng-container *ngIf="isNguoiDung">
          <div class="action-group-quantri">
            <his-action-bar [hisActionBarConfig]="hisActionBarNguoiDungPhanQuyen"></his-action-bar>
            <his-action-bar [hisActionBarConfig]="hisActionBarNguoiDungChucNang"></his-action-bar>
            <his-action-bar [hisActionBarConfig]="hisActionBarNguoiDungExport"></his-action-bar>

          </div>
        </ng-container>
      </div>

      <!-- ===== FORM ===== -->
      <div class="head-form">
        <!-- TIẾP NHẬN BỆNH NHÂN -->
        <ng-container *ngIf="isTiepNhan">
          <div class="reg-form">
            <div class="reg-row d-flex">
              <div class="ui-col-xl-8 d-flex align-center justify-between">
                <label class="">Số thứ tự</label>
                <input oh-input value="072" class="inp-stt" />
                <button oh-button ohType="default" class="btn-design">Gọi bệnh nhân</button>
              </div>
              <div class="ui-col-xl-10 d-flex align-center justify-between">
                <label class="">Số thứ tự gọi lại</label>
                <input oh-input value="072" class="inp-stt-call" />
                <label class="">Quầy</label>
                <oh-select ohPlaceHolder="Chọn" class="select-quay"></oh-select>
              </div>

              <div class="ui-col-xl-5 d-flex align-center justify-between">
                <button oh-button ohType="default" class="btn-design ui-col-xl-11">Gọi lại </button>
                <button oh-button ohType="default" class="btn-design ui-col-xl-12">Màn hình LCD </button>
              </div>
            </div>

            <div class="reg-row d-flex">
              <div class="ui-col-xl-8 d-flex align-center justify-between">
                <label class="">Đối tượng</label>
                <oh-select ohPlaceHolder="Chọn" class="select-object-tiepnhan"></oh-select>
              </div>
              <div class="ui-col-xl-10 d-flex align-center justify-between">
                <input oh-input placeholder="Mã BN, SĐT, QR CCCD, QR BHYT" />
              </div>
              <div class="ui-col-xl-5 d-flex align-center justify-between">
                <label oh-checkbox [(ngModel)]="checked">
                  Kiểm tra BHYT
                </label>
                <button oh-button ohType="primary" class="ui-col-xl-11">
                  Tìm BN (F3)
                </button>
              </div>
            </div>
          </div>
        </ng-container>
        <!-- DANH SÁCH TIẾP NHẬN -->
        <ng-container *ngIf="isDanhSach">
          <div class="reg-form">
            <div class="reg-row d-flex">
              <div class="ui-col-xl-8 d-flex align-center justify-between">

                <label class="">Mã BA</label>
                <input oh-input value="BN012399123" class="inp-ba" />
              </div>
              <div class="ui-col-xl-7 d-flex align-center justify-between">

                <label class="">Từ ngày-Đến ngày</label>
                <oh-range-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"
                  class="date-to-date"></oh-range-picker>
              </div>
              <div class="ui-col-xl-8 d-flex align-center justify-between">

                <label oh-checkbox [(ngModel)]="checked" class="">
                  Theo ngày ra viện
                </label>
                <label class="">Trạng thái</label>
                <oh-select ohPlaceHolder="Chọn" class="select-status"></oh-select>
              </div>

            </div>

            <div class="reg-row d-flex">
              <div class="ui-col-xl-8 d-flex align-center justify-between">
                <label class="">Phòng khám</label>
                <oh-select ohPlaceHolder="Chọn" class="select-clinic"></oh-select>
              </div>
              <div class="ui-col-xl-7 d-flex align-center justify-between">
                <label>Đối tượng</label>
                <oh-select ohPlaceHolder="Chọn" class="select-object"></oh-select>
              </div>
              <div class="ui-col-xl-8 d-flex align-center justify-between">
                <label>Kênh đăng ký</label>
                <oh-select ohPlaceHolder="Chọn" class="select-register"></oh-select>
                <button oh-button ohType="primary" class="">
                  Tìm (f3)
                </button>
              </div>
            </div>
          </div>
        </ng-container>
        <!-- CHỈ ĐỊNH DỊCH VỤ -->
        <ng-container *ngIf="isChiDinh">
          <div class="reg-form">
            <div class="patient-info">
            THÔNG TIN CỦA {{ patientInfoText }}
          </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>