<div class="login-page">
  <div class="login-wrapper">

    <div class="login-logo">
      <img src="/assets/img/logo.png" alt="Logo" />
    </div>

    <div class="login-card">

      <form oh-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <oh-form-item>
          <oh-form-control ohErrorTip="Please input your username!">
            <oh-input-group ohPrefixIcon="user">
              <input type="text" oh-input formControlName="username" placeholder="Username" />
            </oh-input-group>
          </oh-form-control>
        </oh-form-item>
        <oh-form-item>
          <oh-form-control ohErrorTip="Please input your Password!">
            <oh-input-group ohPrefixIcon="lock">
              <input type="password" oh-input formControlName="password" placeholder="Password" />
            </oh-input-group>
          </oh-form-control>
        </oh-form-item>
        <div oh-row class="login-form-margin">
          <div oh-col [ohSpan]="12">
            <label oh-checkbox formControlName="remember">
              <span>Remember me</span>
            </label>
          </div>
          <div oh-col [ohSpan]="12">
            <a class="login-form-forgot">Forgot password</a>
          </div>
        </div>
        <button oh-button class="login-form-button" [ohType]="'primary'">Log in</button>
      </form>
    </div>

    <div class="login-links">
      <a href="/tutorial">← Quay lại DRCARE247</a>
    </div>

  </div>
</div>