header-component {
  
}

// .page-content {
//     flex: 1;
// }
.page-content {
  min-height: calc(100vh - 52px);
  transition: margin-left 0.25s ease;
  padding-left:  16px;
}

.page-content.sidebar-collapsed {
  margin-left: 35px;
}

.page-content.sidebar-expanded {
  margin-left: 200px;
}

