<!-- <header-component></header-component>
<sidebar-component></sidebar-component>
  <div class="page-content">
    <router-outlet></router-outlet>
  </div>

  <footer-component></footer-component> -->


<sidebar-component
  [isPinned]="isSidebarPinned"
  (pinChange)="onToggleSidebarPin($event)">
</sidebar-component>

<div class="page-content"
     [class.sidebar-collapsed]="!isSidebarPinned"
     [class.sidebar-expanded]="isSidebarPinned">
     
  <header-component></header-component>
  <head-panel-component></head-panel-component>
  <router-outlet></router-outlet>
<footer-component></footer-component>
</div>


